//
// @file
// Button and link styles.
// ---------------------------------------------------------------------------

// Button settings.
//----------------------------------------------------------------------------
$clr-btn--primary:   $green;
$clr-btn--secondary: $blue;
$clr-btn--tertiary:  $gray-light;
$btn-style: 'none';
$btn-highlight-strength: .5;
$btn-shadow-strength: .5;

@mixin button {
  display: inline-block;
}

// Button sizes
// ---------------------------------------------------------------------------
@mixin button--tiny {
  padding: rhythm(.25, $fs-xxs) 6px;
  @include adjust-font-size-to($fs-xxs);
}

@mixin button--small {
  padding: rhythm(.5, $fs-xxs) 10px;
  @include adjust-font-size-to($fs-xxs);
}

@mixin button--medium {
  padding: rhythm(.5, $fs-l) 13px;
  @include adjust-font-size-to($fs-m, 4);
}

@mixin button--large {
  padding: rhythm(1, $fs-l) 18px;
  @include adjust-font-size-to($fs-l);
}

// Button colors
// ---------------------------------------------------------------------------
@mixin button--primary {
  background-color: $clr-btn--primary;

  &:hover {
  }

  &:active {
  }
}

@mixin button--secondary {
  background-color: $clr-btn--secondary;

  &:hover {
  }

  &:active {
  }
}

// Button icons
// ---------------------------------------------------------------------------
@mixin button-icon($x-size: 18px, $y-size: 18px) {
  content: '';
  position: relative;
  width: $x-size;
  height: $y-size;
  display: inline-block;
}

@mixin button-icon--before {
  &:before {
    top: -1px;
    @include button-icon();
  }
}

@mixin button-icon--after {
  &:after {
    top: -1px;
    @include button-icon();
  }
}
