//
// @file
// List styles.
// ----------------------------------------------------------------------------

//
// No bullets
//
.no-bullets {
  margin: 0;
  padding: 0;

  > li {
    list-style: none;
  }
}
