//
// @file
// Style for tables
//
// By default, table styles use the silent '%' syntax.
// To use a class directly, change '%' to '.'
// -----------------------------------------------------------------------------


// BORDERED
// --------

%table--bordered {
  border: 1px solid $clr-table-border;
  border-collapse: separate; // Done so we can round those corners!
  *border-collapse: collapsed; // IE7 can't round corners anyway
  border-left: 0;

  th,
  td {
    border-left: 1px solid $clr-table-border;
  }

  // Prevent a double border
  caption + thead tr:first-child th,
  caption + tbody tr:first-child th,
  caption + tbody tr:first-child td,
  colgroup + thead tr:first-child th,
  colgroup + tbody tr:first-child th,
  colgroup + tbody tr:first-child td,
  thead:first-child tr:first-child th,
  tbody:first-child tr:first-child th,
  tbody:first-child tr:first-child td {
    border-top: 0;
  }
}


// CONDENSED
// ---------

%table--condensed {
  th,
  td {
    padding: 4px 5px;
  }
}

// STRIPED
// -------
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

%table--striped {
  tbody {
    tr:nth-child(odd) td,
    tr:nth-child(odd) th {
      background-color: $clr-table-odd;
    }
  }
}


// BORDERLESS
// ----------

%table--borderless {
  th,
  td {
    border: none;
  }
}
