//
// @file
// Breakpoint variables.
//

//
// Typefaces.
//
$ff-mono:  monospace;
$ff-sans:  'Source Sans Pro', sans-serif;
$ff-serif: 'Lexia W01', serif;

//
// Semantic fonts.
//
$ff-body:    $ff-sans;
$ff-heading: $ff-serif;
$ff-display: $ff-heading;

//
// Responsive font-size map.
//
$font-sizes: (
  // Body Copy
  body--small: (
    default: 14px 18px,
    small: 16px 21px
  ),
  body: (
    default: 16px 21px,
    small: 18px 24px
  ),
  body--large: (
    default: 18px 24px,
    small: 22px 27px
  ),
  body--huge: (
    default: 20px 24px,
    small: 28px 36px
  ),
  // Headings
  heading--micro: (
    default: 12px 15px,
    small: 14px 18px
  ),
  heading--tiny: (
    default: 16px 21px,
    small: 18px 24px
  ),
  heading--small: (
    default: 18px 24px,
    small: 24px 30px
  ),
  heading: (
    default: 22px 28px,
    small: 27px 36px
  ),
  heading--large: (
    default: 24px 30px,
    small: 30px 36px
  ),
  heading--huge: (
    default: 27px 36px,
    small: 36px 42px,
    medium: 48px 54px
  ),
  //
  // Links
  //
  // 14/24 // breadcrumb
  // 16/24 // footer nav
  // 18/24 // Utility nav
  // 22/24 // main nav and sans
  // 22/30 // more links and serif
  // 24/48 // share button callout more links
  link--tiny: (
    default: 12px 15px,
    small: 14px 18px
  ),
  link--small: (
    default: 14px 18px,
    small: 16px 21px
  ),
  link: (
    default: 16px 21px,
    small: 18px 24px
  ),
  link--large: (
    default: 18px 24px,
    medium: 22px 24px
  ),
  link--huge: (
    default: 18px 24px,
    small: 24px 30px
  ),
  // Titles
  title--small: (
    default: 16px 21px,
    small: 18px 24px
  ),
  title: (
    default: 18px 24px,
    small: 24px 30px
  ),
  title--large: (
    default: 24px 27px,
    small: 32px 36px
  ),
  title--huge: (
    default: 27px 36px,
    small: 42px 54px,
    medium: 48px 60px
  )
);

//
// Font size.
//
$fs-xs:      14px;
$fs-s:       16px;
$fs-m:       18px;
$fs-l:       22px;
$fs-xl:      24px;
$fs-2xl:     30px;
$fs-3xl:     32px;
$fs-4xl:     42px;
$fs-5xl:     48px;

//
// Semantic font size.
//
$fs-h1: $fs-3xl !default;
$fs-h2: $fs-2xl !default;
$fs-h3: $fs-xl !default;
$fs-h4: $fs-m !default;
$fs-h5: $fs-s !default;
$fs-h6: $fs-s !default;

//
// Font Weights
//
$fw-thin: 100;
$fw-light: 300;
$fw-regular: 400;
$fw-book: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 600;

//
// Indentation.
//
$indent-amount: 3em !default;

//
// Vertical rhythm.
//
$base-font-size:    $fs-m;       // Font-size of your body copy.
$base-line-height:  6px;         // Setting the base-line-height half.
                                 // the height of the desired body copy.
                                 // line-height helps prevent sparse.
                                 // leading at different font-sizes.
