//
// @file
// Button mixins.
// ---------------------------------------------------------------------------
@mixin button {
  display: inline-block;
  border: 0;
  color: $white;
}

// Button sizes
// ---------------------------------------------------------------------------
@mixin button--tiny {
  padding: vrem(.25) 6px;
  @include font-size(link--tiny);
}

@mixin button--small {
  padding: vrem(.5) 10px;
  @include font-size(link--small);
}

@mixin button--medium {
  padding: vrem(.5) 13px;
  @include font-size(link);
}

@mixin button--large {
  padding: vrem(1) 18px;
  @include font-size(link--large);
}

// Button colors
// ---------------------------------------------------------------------------
@mixin button--primary {
  background-color: $blue;
  transition: background-color .2s ease-out;

  &:hover,
  &:focus {
    background-color: $teal-darker;
  }

  &:active {
  }
}

@mixin button--secondary {
  background-color: $clr-btn--secondary;

  &:hover {
  }

  &:active {
  }
}

// Button icons
// ---------------------------------------------------------------------------
@mixin button-icon($x-size: 18px, $y-size: $x-size) {
  content: '';
  position: relative;
  width: $x-size;
  height: $y-size;
  display: inline-block;
  vertical-align: middle;
  background-position: center;
}

@mixin button-icon--before($x-size: 18px, $y-size: $x-size) {
  vertical-align: middle;

  &:before {
    @include button-icon($x-size, $y-size);
  }
}

@mixin button-icon--after($x-size: 18px, $y-size: $x-size) {
  vertical-align: middle;

  &:after {
    @include button-icon($x-size, $y-size);
  }
}
