//
// @file
// Theme mixins.
//
// These mixins should be limited backgrounds, colors and borders.
//
@mixin theme--white {
  background-color: $white;
}

@mixin theme--off-white {
  background-color: $gray-white;
  color: $gray-darker;
}

@mixin theme--reversed($bg-color: $blue, $text-color: $white) {
  background-color: $bg-color;
  color: $text-color;
}
